<div class="container">
    <div class="row pt-5">
        <div class="col-md-4">

        </div>
        <form [formGroup]="form" (ngSubmit)="signup()" class="col-md-4 shadow p-5">
            <h1 class="text-center">signup</h1>
            <div class="">
                <mat-form-field class=" col-md-12" appearance="fill">
                    <input formControlName="fullname" matInput placeholder="Full Name">
                </mat-form-field>
            </div>
            <div class="">
                <mat-form-field class=" col-md-12" appearance="fill">
                    <input formControlName="username" matInput placeholder="username">
                </mat-form-field>
            </div>
            <div class="pswd">
                <mat-form-field class="col-md-12" appearance="fill">
                    <input formControlName="password" matInput type="password" placeholder="password">
                </mat-form-field>
            </div>
            <div class="btn col-md-12">
                <button class="col-md-12" mat-raised-button color="accent">signup</button>
            </div>
            <div class="pt-3">
                <p>Already have an account?  <a routerLink="">Login</a> </p>
            </div>
        </form>
        <div class="col-md-4">

        </div>
    </div>
</div>